<html>
  <body>
    <h1>Witam <%= @user.name %></h1>
    <p>You have succesfully signed up to example.com</p>

    <p>Your mail is: <%= @user.email %></p>

    <p>Thanks for joining</p>
  </body>
</html>
